// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.gsc-input {
    width: 300px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.col-md-4 {
    background-color: #e9ecef;
    margin-bottom: 20px;
}

.col-md-8 a {
    color: #85c998;
}

.type-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    list-style-type: none;
}

.type-grid a {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    border-color: #e9ecef;
}
.type-grid a:hover {
    background-color: #85c998;
    color: white;
    text-decoration: none;
}

.footer a {
    padding-left: 50px;
}

.row {
    justify-content: center;
}

.title-size h1 {
    font-size: 55px;
}

.title-size a {
    text-decoration: none;
}